<router-outlet></router-outlet>


<select>
  <option class="red">1</option>
  <option class="red">2</option>
  <option class="red">3</option>
  <option class="red">4</option>
</select>
<br />
We have a custom component <app-hello></app-hello>

<input type="text"
  [value]="myVar"
  [disabled]="disabled"
  (input)="updateValue($event)">
{{ myVar }}

<input type="text" [(ngModel)]="text">
{{ text }}

<button (click)="clickFunc()">Disabled</button>

<table>
  <tr>
    <td>#</td>
    <td>name</td>
    <td>online</td>
  </tr>
  <tr *ngFor="let record of data; let myIndex = index; let firstEle = first">
    <td>{{ myIndex + 1 }}</td>
    <td>{{ record.name }}</td>
    <td>{{ record.online === true ? 'Yes' : 'No' }}</td>
  </tr>

  <tr *ngFor="let record of records">
      <td>{{ myIndex + 1 }}</td>
      <td>{{ record.name }}</td>
      <td>{{ record.online === true ? 'Yes' : 'No' }}</td>
    </tr>
</table>